############################################
# GLOBAL: Build settings
############################################

[build]
command = "npm run build"
publish = "dist"

############################################
# PRODUCTION: Build and deploy
############################################

[context.production.environment]
HUSKY = "0"
HUSKY_SKIP_INSTALL = "1"
NODE_VERSION = "24"
NODE_ENV = "production"
ASTRO_TELEMETRY_DISABLED = "1"

############################################
# SKIP DEPLOY PREVIEWS
############################################

[context.deploy-preview]
ignore = "exit 0"

############################################
# SKIP BRANCH DEPLOYS
############################################

[context.branch-deploy]
ignore = "exit 0"

############################################
# CACHING
############################################

[[headers]]
for = "/assets/*"
[headers.values]
Cache-Control = "public, max-age=31536000, immutable"

[[headers]]
for = "/*.js"
[headers.values]
Cache-Control = "public, max-age=31536000, immutable"

[[headers]]
for = "/*.css"
[headers.values]
Cache-Control = "public, max-age=31536000, immutable"

[[headers]]
for = "/*.html"
[headers.values]
Cache-Control = "public, max-age=600"

############################################
# Disable processing (performance)
############################################

[build.processing]
skip_processing = true
