@import "tailwindcss";

@layer base {
  :root {
    /* Primitives */
    --Color-White: #ffffffff;
    --Color-Neutral-Lightest: #f2f2f2ff;
    --Color-Neutral-Lighter: #d9d9daff;
    --Color-Neutral-Light: #b4b3b5ff;
    --Color-Neutral: #828084ff;
    --Color-Neutral-Dark: #504d53ff;
    --Color-Neutral-Darker: #1e1b22ff;
    --Color-Neutral-Darkest: #06020aff;

    /* Opacity Values - White */
    --Opacity-Transparent: #ffffff00;
    --Opacity-White-5: #ffffff0d;
    --Opacity-White-10: #ffffff1a;
    --Opacity-White-15: #ffffff26;
    --Opacity-White-20: #ffffff33;
    --Opacity-White-30: #ffffff4d;
    --Opacity-White-40: #ffffff66;
    --Opacity-White-50: #ffffff80;
    --Opacity-White-60: #ffffff99;

    /* Opacity Values - Neutral Darkest */
    --Opacity-Neutral-Darkest-5: #06020a0d;
    --Opacity-Neutral-Darkest-10: #06020a1a;
    --Opacity-Neutral-Darkest-15: #06020a26;
    --Opacity-Neutral-Darkest-20: #06020a33;
    --Opacity-Neutral-Darkest-30: #06020a4d;
    --Opacity-Neutral-Darkest-40: #06020a66;
    --Opacity-Neutral-Darkest-50: #06020a80;
    --Opacity-Neutral-Darkest-60: #06020a99;

    /* Tarawera */
    --Color-Tarawera-Lightest: #e6ebefff;
    --Color-Tarawera-Lighter: #ced8e0ff;
    --Color-Tarawera-Light: #537893ff;
    --Color-Tarawera: #0a3f66ff;
    --Color-Tarawera-Dark: #083251ff;
    --Color-Tarawera-Darker: #041928ff;
    --Color-Tarawera-Darkest: #03121eff;

    /* Persian Green */
    --Color-Persian-Green-Lightest: #e5f6f5ff;
    --Color-Persian-Green-Lighter: #ccedebff;
    --Color-Persian-Green-Light: #4cc1baff;
    --Color-Persian-Green: #00a79dff;
    --Color-Persian-Green-Dark: #00857dff;
    --Color-Persian-Green-Darker: #00423eff;
    --Color-Persian-Green-Darkest: #00322fff;

    /* Coral */
    --Color-Coral-Lightest: #fff1eeff;
    --Color-Coral-Lighter: #ffe4ddff;
    --Color-Coral-Light: #ffa18aff;
    --Color-Coral: #ff7a59ff;
    --Color-Coral-Dark: #cc6147ff;
    --Color-Coral-Darker: #663023ff;
    --Color-Coral-Darkest: #4c241aff;

    /* Purple Heart */
    --Color-Purple-Heart-Lightest: #f1e9f8ff;
    --Color-Purple-Heart-Lighter: #e4d4f2ff;
    --Color-Purple-Heart-Light: #a26bd2ff;
    --Color-Purple-Heart: #7b2cbfff;
    --Color-Purple-Heart-Dark: #622398ff;
    --Color-Purple-Heart-Darker: #31114cff;
    --Color-Purple-Heart-Darkest: #240d39ff;

    /* Color Scheme 1 */
    --Color-Scheme-1-Text: var(--Color-Neutral-Darkest);
    --Color-Scheme-1-Foreground: var(--Color-Tarawera-Lightest);
    --Color-Scheme-1-Background: var(--Color-Tarawera-Lightest);
    --Color-Scheme-1-Border: var(--Opacity-Neutral-Darkest-15);
    --Color-Scheme-1-Accent: var(--Color-Tarawera);

    /* Color Scheme 2 */
    --Color-Scheme-2-Text: var(--Color-Neutral-Darkest);
    --Color-Scheme-2-Background: var(--Color-Tarawera-Lighter);
    --Color-Scheme-2-Border: var(--Opacity-Neutral-Darkest-15);
    --Color-Scheme-2-Accent: var(--Color-Tarawera);
    --Color-Scheme-2-Foreground: var(--Color-Tarawera-Lighter);

    /* Color Scheme 3 */
    --Color-Scheme-3-Text: var(--Color-White);
    --Color-Scheme-3-Background: var(--Color-Neutral-Darkest);
    --Color-Scheme-3-Border: var(--Opacity-White-20);
    --Color-Scheme-3-Accent: var(--Color-White);
    --Color-Scheme-3-Foreground: var(--Color-Neutral-Darkest);

    /* Color Scheme 4 */
    --Color-Scheme-4-Text: var(--Color-White);
    --Color-Scheme-4-Background: var(--Color-Neutral-Dark);
    --Color-Scheme-4-Border: var(--Opacity-White-20);
    --Color-Scheme-4-Accent: var(--Color-White);
    --Color-Scheme-4-Foreground: var(--Color-Neutral-Dark);

    /* Color Scheme 5 */
    --Color-Scheme-5-Text: var(--Color-White);
    --Color-Scheme-5-Background: var(--Color-Tarawera);
    --Color-Scheme-5-Border: var(--Opacity-White-20);
    --Color-Scheme-5-Accent: var(--Color-White);
    --Color-Scheme-5-Foreground: var(--Color-Tarawera);
  }
}
